/*  ----------------------- BODY --------------------------- */

body {padding: .5rem 0;}

// header, nav, main, footer {max-width: 60rem; margin: 0 auto;}

//or you could make just the main a limited width and have the rest stretch across the full width:
// main {max-width: 60rem; margin: 0 auto;}

/*---------- HEADER ----------*/
#header-list {
    font-size: 1.4rem;
}
        
/*  ----------------------- NAVIGATION --------------------------- */
nav {
//     ul {
//         margin-left: $gutter;
//         border-left: 1px solid rgba(0,0,0,0.3);
//     }
    ul li {width: auto;}
//     ul li:last-child{border-right: 1px solid rgba(0,0,0,0.3);}
    ul li a {
        padding: .5rem 3rem;
    }
} // end nav

/* -------------------------- MAIN ------------------------------- */
main {

    figure.banner {
        margin-top: 35px;
    }

    figure.banner img {
        max-width: 60rem;
        border: solid 30px rgb(4, 82, 75); 
    }
}

main section {max-width: 120rem; margin: 0 auto;}

#contactaddress {
    text-align: left;
}


