/*  ----------------------- MAIN --------------------------- */
main {

    figure.banner {
        text-align: center;
    }
    figure.banner img {
        margin: 0 auto;
        border: solid 20px rgb(4, 82, 75);
        border-top: none; 
    }

    
} // end main

#mapwrapper {
    margin-top: 45px;
}