/*---------- HEADER ----------*/

#header-list {
    font-size: 1.2rem;
}

/*  ----------------------- MAIN --------------------------- */
main {

    figure.banner {
        text-align: center;
    }
    figure.banner img {
        margin: 0 auto;
        border: solid 20px rgb(4, 82, 75);
        border-top: none; 
    }

    #about-header {
        font-size: 2rem;
        font-weight: bold;
    }
    
    #about-parapraph {
        font-size: 1.2rem;
        font-weight: 600;
        color:rgb(97, 94, 94)
    }

    #meet {
        font-size: 1.75rem;
        font-weight: 600;
    }

    #staffwrapper {
        font-size: 1.2rem;
    }

} // end main

#mapwrapper {
    margin-top: 45px;
}