
// Color Scheme NPA:
$primaryColor: rgb(255, 255, 255);
$secondaryColor: #ccccb8;
$fontColor: blue;
$popColor: rgb(4, 82, 75);


$defaultFont: 'Lato', sans-serif;
$normalWeight:300;
$boldWeight:700;

$gutter: 2%;
$gutterdbl: (2 * $gutter);